$btn-height:40px;

.drawer{
    position: fixed;
    left: 0;
    top: 0;
    width: $drawerWidth;
    height: 100vh;
    padding: $navbarHeight+5 0px;
    @include gradient(map-get($page-color,'drawer'), 4, 1);
    &-top{
        .btn-wrapper-lg{
            padding: 0px 20px;
            height: 40px;
            .btn{
                @include gradient($color-primary,0 ,10 );
                &:hover{
                    @include gradient($color-primary,0 ,10 );
                }
            }
        }
        .list-unstyled{
            font-size: 12px;
            font-weight: 750;
            margin: 25px 0px;
            li{
                margin: 6px 1px;
                padding: 12px 30px;
                border-left: solid 2px #fff;
                span{
                    &:nth-child(1){
                        ///icon wrapper
                        width: 20px;
                        //icon
                        span{
                            text-align: center;
                            cursor: pointer;
                            @include fontAwesomeStyling();
                        }
                    }
                    &:nth-child(2){
                        margin-left: 30px;
                    }
                }
                &:hover{
                    color: darken($color-primary,30);
                    border-color: darken($color-primary,10);
                    cursor: pointer;
                    opacity: 0.8;
                    span:nth-child(1) span{color: $color-primary;}
                }
            }
            .chat-counter{
                position: absolute;
                margin-top: -36px;
                left: 130px;
            }
        }
    }
    &-bottom{
        position: fixed;
        bottom: $navbarHeight;
        width: inherit;
        ///refer btn-wrapper-md
        .btn-wrapper-md{
            width: inherit;
            padding: 0px 20px+18px;
            height: 40px-2px; //base button height
            .btn{
                border: solid 1px $color-primary;
                background-color: inherit;
                color: $color-primary;
                &:hover{
                    @include gradient($color-primary,0 ,10 );
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width:798px){
   .drawer{
    display: none;
   }
}
