@import 'variables';
@import 'drawer';
@import 'navbar';

.page-main-container{
    width: calc(100vw - #{$drawerWidth});
    min-height: calc(100vh - #{$navbarHeight});
    margin-top: $navbarHeight;
    margin-left: $drawerWidth;
    @include gradient(map-get($page-color,'base'), 0, 4);
    @media (max-width:798px){
        width: 100vw;
        margin-left: 0px;        
     }
     
    .page-base-container{
        &-1{
            padding: 25px;
            .card-holder{ 
                padding: 15px;
            }
            .card{
                height: 30vh;
                border: none;
                &-br1{
                    border-radius: 4px;   
                }
                &-br-2{
                    border-block: 10px;
                }
            }
        }
    }
}